absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
black
blackjax
bleach
bzip2
ca-certificates
certifi
cffi
charset-normalizer
chex
click
cloudpickle
clu
comm
contourpy
cycler
debugpy
decorator
defusedxml
dill
distrax
dm-tree
docker-pycreds
docstring-parser
einops
equinox
etils
executing
fastjsonschema
fastprogress
filelock
flatbuffers
flax
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
gitpython
google-pasta
googleapis-common-protos
grpcio
h11
h5py
hf-xet
httpcore
httpx
huggingface-hub
humanize
hydra-core
idna
immutabledict
importlib-resources
ipykernel
ipython
ipywidgets
isoduration
jax
jaxlib
jaxopt
jaxtyping
jedi
jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-core
jupyter-events
jupyter-lsp
jupyter-nbextensions-configurator
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
kiwisolver
libclang
libffi
lightning-utilities
llvmlite
lmdb
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-collections
ml-dtypes
mmdfuse
mpmath
msgpack
multidict
mypy-extensions
namex
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
networkx
ninja
notebook
notebook-shim
numba
numpy
omegaconf
openssl
opt-einsum
optax
optree
orbax-checkpoint
overrides
packaging
pandas
pandocfilters
parso
particles
pastel
pathspec
pexpect
pillow
pip
platformdirs
poethepoet
pot
prometheus-client
promise
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
pydantic-core
pygments
pyparsing
python
python-dateutil
python-json-logger
pytorch-fid
pytorch-lightning
pytz
pyyaml
pyzmq
readline
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
send2trash
sentry-sdk
setproctitle
setuptools
shellingham
simple-parsing
simplejson
six
smmap
sniffio
soupsieve
sqlite
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-probability
tensorstore
termcolor
terminado
tf-keras
threadpoolctl
timm
tinycss2
tk
toml
tomlkit
toolz
torch
torchcde
torchcfm
torchdiffeq
torchdyn
torchmetrics
torchsde
torchtyping
torchvision
tornado
tqdm
traitlets
trampoline
typeguard
typer
types-python-dateutil
typing-extensions
tzdata
uri-template
urllib3
wadler-lindig
wandb
wcwidth
webcolors
webencodings
websocket-client
werkzeug
wheel
widgetsnbextension
wrapt
xz
yarl
zipp
zlib
